:root {
  /* color variables*/
  --clr-bg: hsl(233, 47%, 7%);
  --clr-card-bg: hsl(244, 38%, 16%);
  --clr-accent: hsl(277, 64%, 61%);

  --clr-neutral-1: hsl(0, 0%, 100%);
  --clr-neutral-2: hsla(0, 0%, 100%, 0.75);
  --clr-neutral-3: hsla(0, 0%, 100%, 0.6);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100%;
  background-color: var(--clr-bg);
  font-family: "Lexend Deca", sans-serif;
}

.container {
  min-height: 100vh;
  margin: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  align-self: center;
  background-color: var(--clr-card-bg);
  border-radius: 1rem;
  overflow: hidden;
}

.card-text {
  margin: 4.5rem 3rem 1rem 3rem;
  text-align: center;
}

h1 {
  color: var(--clr-neutral-1);
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  letter-spacing: 0.13rem;
}

h1 span {
  color: var(--clr-accent);
}

p {
  color: var(--clr-neutral-3);
  line-height: 1.6;
  font-size: 1.5rem;
  margin-bottom: 4rem;
}

ul {
  color: var(--clr-neutral-3);
  list-style-type: none;

  text-transform: uppercase;
  font-size: 1.4rem;
}
li {
  margin-bottom: 2.5rem;
}

.stat {
  color: var(--clr-neutral-1);
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  letter-spacing: 0.12rem;
  font-size: 2.2rem;
  margin-bottom: 0.8rem;
  font-weight: 700;
}

.card-img {
  display: flex;
  height: 25rem;
  background-color: var(--clr-accent);
  position: relative;
}

.card-img::after {
  content: "";
  background: url(images/image-header-mobile.jpg) no-repeat center/cover;
  background-color: var(--clr-accent);
  mix-blend-mode: multiply;
  opacity: 0.8;
  position: absolute;
  height: 25rem;
  width: 100%;
}

.attribution {
  padding-top: 0.5rem;
  color: var(--clr-neutral-2);
  font-size: 1.2rem;
  text-align: center;
}

.attribution a {
  text-decoration: none;
  color: var(--clr-accent);
  transition: all 0.3s;
}

.attribution a:hover {
  color: var(--clr-neutral-1);
  text-decoration: underline;
}

@media (min-width: 25rem) {
  .card-img {
    flex-grow: 1;
  }

  .card-img::after {
    background-position: unset;
    height: 100%;
    width: 100%;
  }

  .attribution {
    font-size: 1.3rem;
    padding-top: 1rem;
  }
}

@media (min-width: 500px) and (max-width: 780px) {
  .card {
    display: flex;
    flex-direction: column;
    flex-grow: 0.25;
  }
  .card-img {
    flex-grow: 1;
  }

  .card-img::after {
    background-position: unset;
    height: 100%;
    width: 100%;
  }
}

@media (min-width: 781px) {
  .container {
    margin: 0;
    margin: 0 4rem;
  }

  .card {
    display: flex;
    flex-direction: row-reverse;
  }

  .card-text {
    display: flex;
    flex-direction: column;
    margin: 7rem 0rem 7rem 5rem;
  }

  h1 {
    margin-right: 10rem;
    font-size: 3.5rem;
    text-align: left;
    letter-spacing: 0.1rem;
    margin-bottom: 3rem;
  }

  p {
    margin-right: 12rem;
    line-height: 1.8;
    text-align: left;
    margin-bottom: 8rem;
  }

  ul {
    width: 68%;
    margin-bottom: 0;
    text-align: left;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
  }

  .stat {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }

  .attribution {
    font-size: 1.5rem;
    padding-top: 1.5rem;
  }

  .card-img {
    height: 25rem;
    background-color: var(--clr-accent);
    position: relative;
    width: 100%;
    height: auto;
  }

  .card-img::after {
    content: "";
    background: url(images/image-header-mobile.jpg) no-repeat center/cover;
    background-color: var(--clr-accent);
    mix-blend-mode: multiply;
    opacity: 0.8;
    position: absolute;
    height: 100%;
    width: 100%;
  }
}
